/*.flvplayer{margin:100px auto 0;width:480px;height:400px;padding:10px;box-shadow:0 3px 10px #333;overflow:hidden;}
.flvplayer-xml{width:580px;}
.align-center{margin:10 auto;text-align:center;font-size:14px;padding:10px;}
pre{margin:20px auto;width:600px;overflow:hidden;}